.description {
    &--list {
        margin: 0px 16px;
        display: flex;
        flex-direction: column;
    }
    &--item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        &__input {
            width: 80%;
            margin-left: 40px;
            textarea {
                border:none;
                resize: none;
            }
        }
        
        &__delete {
            position: absolute;
            transform: translate(0, -50%);
            top:43%;
            left:0;
        }
    }
    &--new {
        &__input{
            width: 80%;
            margin-left: 40px;
            border:none;
            resize: none;
            border-bottom: 1px solid #eaeaea;
        }
    }
}